# Stripe
STRIPE_SECRET_KEY=sk_test_TODO
STRIPE_WEBHOOK_SECRET=whsec_TODO
STRIPE_SUCCESS_URL=http://localhost:3000/impact-fund?donation=success
STRIPE_CANCEL_URL=http://localhost:3000/impact-fund?donation=cancelled

# Stripe price IDs for recurring tiers, if using pre-created Stripe Prices
STRIPE_PRICE_MONTHLY_5=price_TODO
STRIPE_PRICE_MONTHLY_10=price_TODO
STRIPE_PRICE_MONTHLY_25=price_TODO
STRIPE_PRICE_MONTHLY_50=price_TODO
STRIPE_PRICE_MONTHLY_100=price_TODO

# Redis / KV
UPSTASH_REDIS_REST_URL=https://TODO.upstash.io
UPSTASH_REDIS_REST_TOKEN=TODO

# Public site settings
NEXT_PUBLIC_SITE_NAME=PMD Mu Sigma Alumni Association
NEXT_PUBLIC_ANNUAL_DONATION_GOAL_CENTS=2500000
